.vscode
.DS_Store
zig-cache
zig-out
gen
project/lib/
**/.godot/**
**/*.import
src/api/extension_api.json
src/api/gdextension_interface.h

!**/.godot/extension_list.cfg
!**/.godot/global_script_class_cache.cfg
